body {
    background-color: white;
    font-family: Verdana,Geneva,sans-serif; 
}

h1 {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

/*fonts: https://www.cssfontstack.com/Palatino, https://www.cssfontstack.com/Verdana*/